# rout to index.php
<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css|css|js)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

# Disable Directory Browsing
Options All -Indexes

# Errors
errorDocument 400 /eadrx/app/index.php?/$1
errorDocument 401 /eadrx/app/index.php?/$1
errorDocument 403 /eadrx/app/index.php?/$1
errorDocument 404 /eadrx/app/index.php?/$1
errorDocument 500 /eadrx/app/index.php?/$1
